body{
    margin:0;
    padding:0;
    overflow: hidden;
    font-family: Raleway;
    background: linear-gradient(120deg, #a3e8fb, #42289f);
}

.center{

    display:block;
    flex-direction: column;
    position: absolute;
    align-items:center;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
    height: 350px;
    background: white;
    border-style: solid;
}


.center h1, p, input, button, a, .loader{
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    
    margin-bottom: 1px;
    
} 

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 60%;
    border-top: 16px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }